<html>
  <head>
    <title>Edit an activity</title>
    <style type="text/css">
			/* css for timepicker */
			.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
			.ui-timepicker-div dl { text-align: left; }
			.ui-timepicker-div dl dt { height: 25px; }
			.ui-timepicker-div dl dd { margin: -25px 10px 10px 65px; }
			.ui-timepicker-div td { font-size: 90%; }
			.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }


</style>
  <link rel="stylesheet" media="all" type="text/css" href="/css/ui-lightness/jquery-ui-1.8.16.custom.css" />
 <script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript">
			$(function(){
				$('#start_time').datetimepicker({
                    timeFormat: 'hh:mm',
                    dateFormat: 'dd/mm/yy'
                });


			});
</script>
  </head>
  <body>

  <form name="input" action="/do_edit_activity" method="post">
    <input type="hidden" name="id" value="<%=@activity.id  %>" />
    Title:<input type="text" id="title" name="title" value="<%=@activity.title  %>"/><br>
    Start Time:<input type="text" id="start_time" name="start_time" value="<%=@activity.start_time.to_s  %>"/>  <br>
    Duration:<input type="text" id="Duration" name="duration" value="<%=@activity.duration  %>"/><br>
    Description:<input type="text" id="Description" name="description" value="<%=@activity.description  %>"/><br>
    Notes:<input type="text" id="Notes" name="notes" value="<%=@activity.notes  %>"/><br>
    <input type="hidden" name="priority" value="normal"/>
    Location:<input type="text" name="location" value="<%=@activity.location  %>"/>
   is Done?:<select name="is_done">
        <option>no</option>
         <%=puts @activity.is_done.to_s%>
       <option <%= @activity.is_done ? "selected" : "" %> >yes</option>
    </select>  <br>
    Priority:<br>
    <input type="radio" name="priority" value="urgent"  <%= @activity.priority=="urgent" ? "checked" : "" %> />Urgent<br>
    <input type="radio" name="priority" value="normal" <%= @activity.priority=="normal" ? "checked" : "" %> />Normal<br>
    <input type="radio" name="priority" value="low" <%= @activity.priority=="low" ? "checked" : "" %>/>Low<br>
    <input type="submit" name="edit" value="Change">
    </form>
  </body>
  </html>
